temp/*
acs_cache/*
acs_cache/temp.txt
acs_cache/.ipynb_checkpoints/*
notebooks/livelike_acs_cache/*
notebooks/replicate_demo_cache/*

.coverage*

*.swp
*.pyc
.rope*
.ipynb_checkpoints/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
demo/.ipynb_checkpoints/*
.DS_Store
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

*.log

*.coverage
coverage.xml

*censusapikey.txt*
